;;;;
; JemBijoux's npm userconfig file
; this is a simple ini-formatted file
; lines that start with semi-colons are comments.
; read `npm help config` for help on the various options
; generated initially from `npm config edit`
;;;;

depth=0
editor=vim
; init-module=/Users/jem/.npm-init.js ; This could be useful...
init-author-name="Jem Bezooyen"
init-author-email=jem@hipmedia.ca
; init-author-url=
init-version=0.0.1
init-license=None
